extends layout

block scripts
   script(src='/javascripts/local.js')

block static
    div#timer(class="divtimer")
    div(class="divtitle")
        h1= title
        p Welcome to #{title}
        
        table(class="settings")
            tbody
                 tr
                    td(style="width:15px")
                        input#inplayonly(onclick='refresh()').checkbox(type='checkbox', name="inplayonly", checked=(inplayonly || undefined))
                    td
                        label(for='inplayonly')  In-Play


include ./runners.pug


